body{
  margin: 0;
}
header{
  height: 75px;
  background-color: #3b5998;
  padding: 0 50px;
}
header h1{
  margin: 0;
  float: left;
}
header h1 > a{
  color: #fff;
  text-decoration: none;
  line-height: 75px;
}
form.login{
  color: white;
  float: right;
}
form.login input[type="submit"] {
  background-color: #4267b2;
  border-color: #29487d;
  color: white;
  border: none;
}
form a {
  color: #9cb4d8;
}

table td{
  padding-left: 5px;
  padding-right: 5px;
}

.container{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #e9ebee;
}

.container section{
  width: calc(50% - 50px);
  float: left;
}

section#RLogins{
  padding-left: 50px;
}

.accountbox:first-of-type{
  width: calc(50% - 5px);
  margin-right: 5px;
}

.accountbox:last-of-type{
  width: calc(50% - 10px);
  margin: 0px 5px;
}

.accountbox{
  width: 50%;
  float: left;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .2);
  cursor: pointer;
}

.accountbox img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
