.container{
    display: grid;
    grid-template-columns: 50% auto;
}

.col{
    padding: .4em 1.3em;
}

.color-dark{
    background: #6b1d1d;
}

.color-light{
    background: #d7dde5;
}

input.txt{
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

.life-container{
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}

p{
    color: #000000;
    width: 1100px;
}
