*{
	margin: 0;
	padding: 0;
}

 #top{
	background: linear-gradient(to right, #073C58, #1C809D);
	height: 100px;
}

#logo{
	margin-top: 20px;
	margin-left: 25px;
	width: 20%;
    height: auto;
}

#img-principal{
	margin-top: -90px;
	margin-left: 495px;
	width: 7%;
    height: auto;
}

#SearchBar{
	position: absolute;
    top: 35px;
    left: 925px;
    height: 35px;
    width: 250px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 5px;
}

#SearchButton{
    background-color: #043751;
    color: #FFFFFF;
	position: absolute;
    top: 35px;
    left: 1175px;
    height: 40px;
    width: 50px;
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 5px;
}

#SearchButton:hover{
    background-color: #12bfff;;
}

#menu{
	height: 50px;
    margin-bottom: auto;
    margin-left: 170px;
}

ul {
    list-style-type: none;
    align-content: center;
    color: #FFFFFF !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table !important; 
}

li {
    float: left;
}

li a {
    display: block;
    font-family: Helvetica;
    color: #333333;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li:hover {
    background-color: #e5e5e5;
}

#main-content{
    float: left;
    width: 1500px;
	margin: auto;
	padding: auto 200px;
	background: #0098B0;
	height: 160px;
}

#main-tittle{
    padding: 17px 0 7px 0;
    font-size: 2.02em;
    font-family: Arial;
    color: white;
    font-style: normal;
    margin: 0;
    line-height: 1.4em;
    border-left: none;
    font-weight: 200;
    width: 100%;
    margin-top: 10px;
    margin-left: 50px;
}

#space{
    float: left;
    width: 1500px;
	margin: auto;
	padding: auto 200px;
    height: 50px;
}

.contenedores{
    float: left;
    width: 250px;
    height: 200px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: auto;
    font-family: Helvetica;
    color: #4c4c4c;
    font-size: 16px;
    position: relative;
}

#primer{
    margin-left: 100px;
}

#titulos{
    width: 240px;
    font-family: Helvetica;
    font-size: 24px;
    color: #0098B0;
    margin-bottom: 20px;
}

#texto{
    width: 200px;
}

#titulos:hover{
    text-decoration: underline;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: bottom;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 1370px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}