.container{
    display: grid;
    grid-template-columns: 50% auto;
}

.col{
    padding: .4em 1.3em;
}

.color-dark{
    background: #2885C4;
}

.color-light{
    background: #57BEF1;
}

input.txt{
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

input.btn{
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #A5F883;
    color: #003A61;
    margin-bottom: 1em;
    cursor: pointer;
}

.life-container{
    background: #3FA0E1;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}

.col-md-10{
    max-width: 80%;
    margin-right: -170px;
    //opacity: 0.8;
    //margin-left: 15px;
    //max-width: 350px;
    //margin-right: 60px;
    //width: 10%;
}

#supername{
    text-align: center;
    font-family: Helvetica;
    font-size: 25px;
}

.imgsuperhero{
    //background-color: #FFFFFF;
    
    height: 90%;
    width: 90%;
    padding-left: 20%;
    margin-right: -170px;
}

p{
    text-align: center;
}

#colu1{
    margin-right: -80px;
}