.container{
    display: grid;
    grid-template-columns: 50% auto;
}

.col{
    padding: .4em 1.3em;
}

.color-dark{
    background: #6b1d1d;
}

.color-light{
    background: #d7dde5;
}

input.txt{
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

.life-container{
    font-weight: bold;
    cursor: pointer;
}

#heroname{
    align-self: center;
    color: #000000;
}

#texto{
    color: #000000;
}

#boton{
    margin-left: 80px;
    padding-left: 60px;
    padding-right: 60px;
}

.modal-body{
    color: #000000;
}

.modal-title{
    color: #000000;
}